* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: $font-stack;
  font-size: 1.2em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
  }
ul {
  list-style: none;
}

h4 {
  text-transform: uppercase;
  font-size: 0.65em;
  letter-spacing: 0.05em;
  padding: 1.33em;
  margin: 0;
}

.avatar-48 {
  width: 24px;
  height: 24px;
}

.avatar-72 {
  width: 36px;
  height: 36px;
}

.tab-content {
  padding-top: 20px;
}