* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: $Proxima-font-stack;
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
  }
ul {
  list-style: none;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $Brandon-font-stack;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-weight: 700;
  font-size: 0.70em;
  letter-spacing: 0.05em;
  padding: 1.33em;
  margin: 0;
}

.header, #toolbar {
  font-family: $Brandon-font-stack;
}

.avatar-48 {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.avatar-72 {
  width: 36px;
  height: 36px;
}

.tab-content {
  padding-top: 20px;
}

button {
  background: none;
  border: 0;
}