.chatContainer{
  height:100vh;
}

#chatContent{
  height: 95vh;
  overflow-y: scroll;
  display: block;
  width: 100%;
  overflow-x: hidden;
  padding-left: 10px;
}

.chatInputForm{
  width: 100%;
  position: absolute;
  bottom:0px;

  input{
    width: 100%;
  }
}

.nopadding {
   padding: 0px;
   margin: 0px;
}

//this is hacky, but there is a margin-top to get line-heights looking okay
.timestamp {
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
  margin-top: 2px;
}

.messageContainer{
  margin-bottom: 5px;
}

.messageText{
  a{
    color: #0000EE
  }
  a:visited{
    color: #551A8B;
  }
}

.thumbnailAndName{
  padding-right: 0px;
  margin-right: 0px;
  table {
    width: 100%;
  }
}

.chatMediaButtons{
  // float: right;
  // padding-right: 5px;
}

.friendsContainer{
  margin-left: 10px;
}

.chatSubTitle{
  margin-left: 5px;
}