$chat-header-height: 36px;

.chat-container-container {
  height: calc(100vh - #{$toolbar-height} - #{$video-height});
  border-left: solid 1px #f2f2f2;
}

#chatContent{
  $height-all-headers: $chat-header-height * 3;
  $height-all-users: $chat-header-height;
  $height-all: $height-all-headers + $height-all-users;
  height: calc(100vh - #{$height-all} - #{$toolbar-height} - #{$video-height});
  display: block;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  // padding-left: 10px;
}

.chatInputForm{
  width: 100%;
  position: relative;
  bottom:0px;
  height: $chat-header-height;
  input{
    width: 100%;
    height: $chat-header-height;
    padding: 10px;
  }
}

.nopadding {
   padding: 0px;
   margin: 0px;
}

//this is hacky, but there is a margin-top to get line-heights looking okay
.timestamp {
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
  margin-top: 2px;
  color: #bbb;
}

.messageContainer{
  padding: 5px;
  border-bottom: 1px solid #f7f7f7;
  &:hover {
    background: #f7f7f7;
  }
}

.messageText{
  a{
    color: #0000EE
  }
  a:visited{
    color: #551A8B;
  }
}

.thumbnailAndName{
  padding-right: 0px;
  margin-right: 0px;
  table {
    width: 100%;
    .buttons {
      width: 60px;
    }
  }
}

.chatMediaButtons{
  // float: right;
  // padding-right: 5px;
}

$single-friend-height: 36px; // height of gravatar thumbnail
.friendsContainer{
  // margin-left: 10px;
  max-height: $single-friend-height * 5;
  overflow-y: scroll;
  .single-friend-container {
    height: $single-friend-height;
  }
}

.chatSubTitle{
  // margin-left: 5px;
  border-top: solid 1px #f7f7f7;
  border-bottom: solid 1px #f7f7f7;
  height: $chat-header-height;
}

.videoContainer {
    position: relative;
    width: 200px;
    height: 150px;
}
.videoContainer video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.volume_bar {
    position: absolute;
    width: 5px;
    height: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #12acef;
}
