$turqoise-green: rgba(47,174,143,0.8);
$sage-green: rgba(175,180,43,0.8);
$bright-green: #8BC34A;
$dark-lime: #AFB42B;
// $bright-green: #CDDC39;
$orange: #FF9800;
$dark-blue: rgb(30, 76, 97);
$blue-grey: #607D8B;
$dark-blue-grey: #4C7284;
$blue-grey-opaque: rgba(96,125,139, 0.9);
$darken-blue-grey: darken($blue-grey, 10);
