// Paths
$img-path: '../assets/img/';
$lib-path: '../../lib/';
$bootstrap-stylesheets-path: '#{$lib-path}bootstrap-sass-official/assets/stylesheets/bootstrap/';
$bootrap-icon-path: '#{$lib-path}bootstrap-sass-official/assets/fonts/bootstrap/';
// Icon Paths
$shapes-friends-path: '#{$img-path}friends.png';
$add-project-icon-path: '#{$img-path}add-project.png';
$upload-icon-path: '#{$img-path}upload-icon.png';
$login-icon-path: '#{$img-path}login.png';
$move-icon-path: '#{$img-path}move.png';
//Loading SVG
// $circles-loading-path: ''

//Type
$Lato-font-stack: 'Lato', Helvetica, sans-serif;
$Brandon-font-stack: "brandon-grotesque", sans-serif;
$Proxima-font-stack: "proxima-nova", sans-serif;

// Colors
$blue-grey: #607D8B;
$dark-blue-grey: #4C7284;
$darkened-blue-grey: darken($blue-grey, 10);
//bg for views
$silver-blue: #93AAB5;
//buttons
$opaque-blue: rgba(30, 76, 97, 0.1);
$dark-hover-blue: rgba(30, 76, 97, 0.5);

$darken-silver-blue: darken(rgba(30, 76, 97, 0.3), 0.5);
$light-grey: #aaa;
$light-blue: #9BB4C7;

$accent-blue: #286090;

// UI dimensions
$toolbar-height: 41px;
$toolbar-width: 239px;
$video-height: 150px;
$video-width: 200px;

// Mixins
@mixin placeholder-color($color){
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}