@import 'colors';

.header {
  // width: 100%;
  // position: fixed;
  // z-index: 99;
  .wrapper {
    // padding: 11px 60px 7px;
  }
  .user-box-region {
    // float: right;
  }
  .logo-region {
    // display: inline-block;
  }
}

.header, #toolbar {
  border: 0;
  background: $blue-grey;
  color: white;
  font-weight: 300;
  font-size: 1.6em;
  $li-padding: 10px;
  cursor: default;
  background-color: $blue-grey;
  color: white;
  font-size: 1.1em;
  font-weight: 300;
  z-index: 95;
  height: $toolbar-height;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-brand {
    &:hover, &:focus {
      background: $darken-blue-grey;
    }
  }
  &.navbar {
    border-radius: 0;
    border: 0;
  }
  nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    color: white;
    background: $darken-blue-grey;
  }
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus, {
    background: $darken-blue-grey;
  }
  .navbar-nav > li > a,
  .navbar-nav > a {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: white;
  }
  &.navbar-default {
    .dropdown-menu {
      border-radius: 0;
      li {
        padding: 7px 10px;
      }
      li.divider {
        background: none;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 1px solid $darken-blue-grey;
      }
      li.dropdown-header {
        color: #d7d7d7;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        &:hover {
          background: none;
        }
      }

    }
  }
  &.navbar-default{
    #logo-text {
      color: white;
    }
    a.navbar-brand.dropdown-toggle {
      color: white;
    }
    .dropdown-menu {
      background: $blue-grey;
      li {
        &:hover {
          background: $darken-blue-grey;
        }
      }
    }
  }
  .dropdown-menu > li > a {
    color: white;
    background: none;
    font-weight: 300;
    display: inline-block;
  }
  .userName {
    color: white;
    cursor: pointer;
    &:hover {
      color: white;
      background: $darken-blue-grey;
    }
  }
  .profile-image {
    float: left;
    border-radius: 18px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    margin-top: -2px;
  }
}

.navbar-brand, .navbar-default .navbar-brand {
  color: white;
  #logo-image {
    background: url('../assets/img/logo.png') no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 20px;
    display: inline-block;
    float: left;
    margin-top: 2px;
  }
  #logo-text {
    color: white;
    display: inline-block;
    margin-left: 5px;
    // position: relative;
    // bottom: 12px;
  }
}
