.viewport {
  width: 100vw;
  height: 100vh;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
}

#projects-body {
  background-color: $silver-blue;
  color: white;
  min-height: 100vh;
}

.projects-header {
  padding: 25px 0px;
}


.new-project-submission-form {
  float: right;
  margin-top: 25px;
}

.single-project-head {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 10px;
}

a:last-child {
  .single-project {
    border-bottom: solid 1px #c5c5c5;
  }
}

.single-project {
  padding: 10px 0px;
  border-top: solid 1px #99B0C2;
  &:hover {
    background: $darken-silver-blue;
  }
}

.timeAgo {
  font-size: 10px;
  color: #677889;
  display: block;
  position: relative;
  top: 1px;
}

.btn-github-login {
  margin-bottom: 20px;
}

.add-icon {
  background-image: url($add-project-icon-path);
  width: 38px;
  height: 38px;
  background-size: contain;
  display: inline-block;
  float: right;
  .mouseover-text {
    display: none;
    width: 100%;
    top: 114%;
    left: 81%;
  }
  &:hover .mouseover-text{
    display: inline-block;
    position: absolute;
  }
}