.initial-landing-view {
  background-color: #607D8B; // #EDFAFA;
}

.box {
  padding: 50px 0;
  &.even {
    box-shadow: inset rgba(0,0,0,0.25) 0 0 30px;
    .content {
      padding-right: 50px;
    }
  }
  &.odd {
    background: $dark-blue-grey;
    .content {
      padding-left: 50px;
    }
  }
  &.black {
    background: #222;
  }
}

#greeting-text {
  bottom: 13%;
  font-size: 1.1em;
  p {
    padding: 0 67px;
    line-height: 1.6em;
  }
}

.landing-two {
  color: $dark-blue-grey;
  text-align: center;
  display: block;
  #greeting-image {
    background-size: cover;
    height: calc(100vh);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: cover;
    position: relative;
    #greeting-image-text {
      position: relative;
      top: 5%;
    }
  }
  h1 {
    font-size: 3em;
    margin: 0;
  }
  p {
    font-size: 1.4em;
  }
}

video#bgvid {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: block;
  width: auto;
  height: auto;
  z-index: 100;
  background-size: cover;
}

.featurette-divider {
  margin: 80px 0; /* <hr> between each */
}
 .featurette {
  padding: 50px 0;
  overflow: hidden; /* Clear floats */
  img {
    width: 100%;
    height: auto;
    border-radius: 1px;
    margin-top: −120px; /* Vertically center image with the text */
    height: auto;
    width: 100%;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
  }
  p {
    font-size: 1.5em;
    max-width: 580px;
    color: white;
    line-height: 1.5em;
  }
  .featurette-image {
    margin-top: −120px; /* Vertically center image with the text */
    &.pull-left {
      margin-right: 40px;
    }
    &.pull-right {
      margin-left: 40px;
    }
  }
  .featurette-heading {
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    color: white;
    &.real-time {
      width: 450px;
    }
    &.upload {
      width: 520px;
    }
  }
  .btn-github-login {
    width: 243px;
    margin: 0 auto 50px;
    font-family: "Brandon Grotesque";
    text-transform: uppercase;
    font-size: 1.2em;
  }
  &.signup {
    text-align: center;
    p {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .btn-github-login {
    margin-top: 40px;
  }
}
.featurette-image-right {
  width: 500px;
}
.featurette-image-left {
  margin-right: 40px;
}
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.lead {
  font-size: 21px;
  font-weight: 200;
}

// Team
.our-team-title {
  font-size: 47px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  color: white;
  letter-spacing: inherit;
}
.team {
  h3 {
    color: white;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    text-align: center;
    margin: 25px 0 10px;
  }
  .title {
    color: white;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 1em;
    margin: 10px 0;
    text-align: center;
  }
  .image-container {
    width: 166px;
    height: 166px;
    border-radius: 88px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
      position: relative;
      background: white;
      // This CSS sucks, but whatever
      &.catherine {
        left: -24%;
      }
      &.chase {
        left: -24%;
      }
      &.doug {
        left: -24%;
      }
      &.jorge {
        left: -24%;
      }
    }
  }
  .links {
    text-align: center;
    margin-top: 25px;
    a {
      color: white;
      font-size: 2em;
      display: inline-block;
      margin-right: 7px;
      margin-left: 7px;
      &:hover {
        color: #222;
      }
    }
  }
}