.initial-landing-view {
  background-color: #86CCCC;
}
.landing-two {
  color: $dark-blue;
  text-align: center;
  display: block; 
  #greeting-image {
    background-size: cover;
    height: calc(100vh);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: cover;
    position: relative;
    #greeting-image-text {
      position: relative;
      top: 5%;
    }
  }
  h1 {
    font-size: 3em;
    margin: 0;
  }
  p {
  font-size: 1.4em;
  }

}

video#bgvid {
position: relative; 
min-width: 100%; 
min-height: 100%;
display: block; 
width: auto;
height: auto;
z-index: 100;
background-size: cover;
}