@mixin file-padding($some-number) {
  padding-left: $some-number;
}

.project-file-structure {
  border-right: solid 1px #f2f2f2;
  height: calc(100vh - #{$toolbar-height});

  .project-file-structure-list {
    margin: 0;
    padding-left: 0;
    li {
      border: solid 1px #f9f9f9;
      padding: 0.5em;
      cursor: pointer;
      color: #444;
      .glyphicon {
        width: 20px;
      }
      a {
        text-decoration: none;
        color: #444;
      }
      &.folder {
        background: #fafafa;
        border-color: #f3f3f3;
      }
      &:hover {
        background: #f9f9f9;
        border-color: #f2f2f2;
      }
    }
    ul {
      padding-left: 0;
      li {
        padding-left: 10%;
      }
    }
    // .nested1 {
    //   @include file-padding(10%);
    // }
    // .nested2 {
    //   @include file-padding(20%);
    // }
  }
}