@import 'chat';
@import 'toolbar';
@import 'project-file-structure';

.project-view-container {
  height: 100vh;
  overflow: hidden;
}

// Project Container
.project-container {
  height: calc(100% - #{$toolbar-height});
  width: 100%;
  overflow: hidden;
}

// editor
.padContainer {
  font-size: 1.3em;
  height: 100%;
}