@mixin file-padding($some-number) {
  padding-left: $some-number;
}

.project-file-structure {
  border-right: solid 1px #f2f2f2;
  height: calc(100vh - #{$toolbar-height});

  .project-file-structure-list {
    li {
      // border: solid 1px #f9f9f9;
      padding: 0.5em;
      cursor: pointer;
      color: #444;
      // padding-left: 10%;
      .glyphicon {
        width: 20px;
      }
      a {
        text-decoration: none;
      }
      &.folder {
        // background: #fafafa;
        // border-color: #f3f3f3;
      }
      &:hover {
        // background: #f9f9f9;
        // border-color: #f2f2f2;
      }
    }
    .nested-folder {
      li {
        padding-left: calc(#{$toolbar-width} * 0.10);
      }
      a > li{        
        &:first-child {
          margin-top: 0.4em;
        }
      }
    }
  }
}