$font-stack: 'Lato', Helvetica, sans-serif;
$turqoise-green: rgba(47,174,143,0.8);
$sage-green: rgba(175,180,43,0.8);
$bright-green: #CDDC39;
$orange: #FF9800;
$dark-blue: rgb(30, 76, 97);


// elements
html {
  font-family: $font-stack;
  font-size: 62.5%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}



// header and logo
.header {
  height: 70px;
  width: 100%;
  // background: linear-gradient(-180deg, rgba(47,174,143,0.8) 0%, rgba(47,174,143,0.8) 100%);
  // background: linear-gradient(-180deg, rgba(175,180,43,0.8) 0%, rgba(175,180,43,0.8) 100%);
  background: $turqoise-green;
  color: white;
  font-weight: 300;
  font-size: 2.6em;
  position: fixed;
  z-index: 99;
  .logo-region, .user-box-region {
    display: inline-block;
    margin-top: 15px;
  }
  .logo-region {
    float: left;
    margin-left: 5%;
  }
  .user-box-region {
    float: right;
    margin-right: 5%;
  }
}
.logo-region {
  display: inline-block;
}
#logo-image {
  background: url('../assets/img/logo.png') no-repeat center center;
  background-size: contain;
  width: 30px;
  height: 36px;
  display: inline-block;
}
#logo-text {
  display: inline-block;
  position: relative;
  bottom: 12px;
}




.viewport {
  width: 100vw;
  height: 100vh;
}
.header-space {
  position: relative;
  top: 70px;
}


// landing styling
.initial-landing-view {
  background-color: #86CCCC;
}
.landing-one {
  color: $dark-blue;
  text-align: center;
  #greeting-image {
    background-image: url('../assets/img/programming.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: 65%;
    position: relative;
    top: 10%;
    #greeting-image-text {
      position: relative;
      top: 5%;
    }
  }
  h1 {
    font-size: 4em;
    margin: 0;
  }
  p {
  font-size: 2em;
  }
}
