$font-stack: 'Lato', Helvetica, sans-serif;
@import 'colors';

$toolbar-height: 41px;
$toolbar-width: 239px;
$video-height: 150px;
$video-width: 200px;

@import '../../lib/normalize.css/normalize.css';
// @import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/grid';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/modals';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/forms';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/navs';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns';
@import '../../lib/bootstrap-social/bootstrap-social';

$bootrap-icon-path: '../../lib/bootstrap-sass-official/assets/fonts/bootstrap/';
// Import the fonts
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$bootrap-icon-path}#{$icon-font-name}.eot');
  src: url('#{$bootrap-icon-path}#{$icon-font-name}.eot?#iefix'),
       url('#{$bootrap-icon-path}#{$icon-font-name}.woff') format('woff'),
       url('#{$bootrap-icon-path}#{$icon-font-name}.ttf') format('truetype'),
       url('#{$bootrap-icon-path}#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');
}

@import '_codemirror.scss';
@import 'codemirror-themes/index';

@import '_customBootstrap.scss';

@import 'base';
@import 'header';
@import 'landing';
@import 'home';
@import 'project';
@import 'toolbar';
