$font-stack: 'Lato', Helvetica, sans-serif;
$turqoise-green: rgba(47,174,143,0.8);
$sage-green: rgba(175,180,43,0.8);
$bright-green: #8BC34A;
$dark-lime: #AFB42B;
// $bright-green: #CDDC39;
$orange: #FF9800;
$dark-blue: rgb(30, 76, 97);
$blue-grey: #607D8B;

$toolbar-height: 36px;
$video-height: 150px;

@import '../../lib/normalize.css/normalize.css';
// @import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/grid';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons';
@import '../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/modals';


$bootrap-icon-path: '../../lib/bootstrap-sass-official/assets/fonts/bootstrap/';
// Import the fonts
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$bootrap-icon-path}#{$icon-font-name}.eot');
  src: url('#{$bootrap-icon-path}#{$icon-font-name}.eot?#iefix'),
       url('#{$bootrap-icon-path}#{$icon-font-name}.woff') format('woff'),
       url('#{$bootrap-icon-path}#{$icon-font-name}.ttf') format('truetype'),
       url('#{$bootrap-icon-path}#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');
}

@import '_codemirror.scss';
@import 'codemirror-themes/index';

@import 'base';
@import 'header';
@import 'landing';
@import 'home';
@import 'project';
