# Dependency directory
node_modules
client/lib
client/dist
client/dist/*
client/dist/main.js
client/dist/main.css

# Ingore Config
config/*
!config/default.json
!config/test.json

### OSX ###
.DS_Store

data/*
data/**/*
data/logs/*
data/logs/**/*