<div class="chatContainer" ng-controller="chatController">
<div>
    <h4 class="chatSubTitle"> Collaborators</h4>
    <div class="friendsContainer">
      <div ng-repeat="friend in users">
        <div class="thumbnailAndName"class="col-sm-12">
          <table>
            <tr>
              <td><img src="{{friend.githubAvatarUrl}}"> </img></td>
              <td>
                 <span>{{friend.username}}</span>
              </td>
              <td>
                 <div class="chatMediaButtons btn-group btn-group-xs pull-right" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">
                    <span class='glyphicon glyphicon-facetime-video'></span>
                  </button>
                  <button type="button" class="btn btn-default">
                    <span class='glyphicon glyphicon-volume-off'></span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <h4 class="chatSubTitle"> Chat </h4>
  <div id="chatContent">
    <div class="messageContainer" ng-repeat="message in messages">
      <div class="row">
        <div class="col-sm-5"><strong>{{message.username}}</strong> </div>
        <div class="col-sm-7"><div class="timestamp"> {{message.timeAgo}}</div></div>
      </div>
      <span class="messageText" ng-bind-html="message.message| linky: '_blank'">{{message.message}}</span>
    </div>
  </div>
</div>
<div class="chatInputForm">
    <input placeholder="Say Something!" type="text" ng-model="chatMessage" ng-enter="sendChat()">
</div>

</div>