<div class="chatContainer" ng-controller="chatController">
<div>
    <h4 style="margin-left: 5px; "> Code Friends</h4>
    <div class="friendsContainer" style="margin-left: 10px;">
      <div ng-repeat="friend in users">
        <div class="thumbnailAndName"class="col-sm-12">
          <img src="{{friend.githubAvatarUrl}}"> </img>
          <span> {{friend.username}}</span> 
          <div class="btn-group btn-group-xs pull-right" style="padding-right:5px;" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Video</button>
            <button type="button" class="btn btn-default">Mute</button>
          </div>
        </div>
      </div>
    </div>
  <h4 style="margin-left: 5px;"> Chat </h4> 
  <div id="chatContent">
    <div class="messageContainer" ng-repeat="message in messages">
      <div class="row">
        <div class="col-sm-5"><strong>{{message.username}}</strong> </div> 
        <div class="col-sm-7"><div class="timestamp"> {{message.timeAgo}}</div></div>
      </div>
      <span class="messageText" ng-bind-html="message.message| linky: '_blank'">{{message.message}}</span> 
    </div>
  </div> 
</div> 
<div class="chatInputForm">
    <input placeholder="Say Something!" type="text" ng-model="chatMessage" ng-enter="sendChat()">
</div>

</div> 