  <form ng-submit='createProject()'>
    <input type='text' ng-model='newProjectName' name="text" placeholder='New Project'>
    <input type='submit' id='submit' value='submit'>
  </form>

<div>
  <!--   this should link with value doc1</a> <br> 
    <a ui-sref="projectEditor({docID: 'doc2'})">this should link with value doc2</a> <br> 
    <a ui-sref="projectEditor({docID: 'doc3'})">this should link with value doc3</a>  -->
  <div ng-repeat="project in projects">
    <p><a ui-sref="projectEditor({docID: project.project_name})">{{ project.project_name }}</a></p>
    <p>{{ project.created_at }}</p>
  </div>
</div>