<div class="row">
  <div class="col-md-8">
    <h2>Your Projects</h2>
  </div>
  <div class="col-md-4">
    <form ng-submit='createProject()' class='new-project-submission-form'>
      <input type='text' ng-model='newProjectName' name="text" placeholder='New Project'>
      <input type='submit' id='submit' value='submit'>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12 single-project-head">
    <div class="col-sm-6">Project Name</div>
    <div class="col-sm-2">Collaborators</span></div>
    <div class="col-sm-2">Created On</div>
    <div class="col-sm-2">Last Updated</div>
  </div>
  <a ui-sref="project({projectName: project.project_name})" ng-repeat="project in projects">
  <div class="col-md-12 single-project">
    <div class="col-sm-6">{{ project.project_name }}</div>
    <div class="col-sm-2"><span ng-repeat="user in project.user">{{user.username}}</span></div>
    <div class="col-sm-2">{{ project.createString }}</div>
    <div class="col-sm-2">{{project.updateString}} </div>
  </div>
  </a>
</div>