<div class="header navbar navbar-default navbar-static">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <div id="logo-image"></div>
        <span id="logo-text">code friends</span>
      </a>
    </div>
    <ul class='user-box-region nav navbar-nav navbar-right' ng-controller='userBox as user'>
      <a ng-show='!user.userLoggedIn' class='userName navbar-brand dropdown-toggle' href='/#/login'>Login</a>
      <li ng-show='user.userLoggedIn' class='dropdown' dropdown>
        <a class='userName navbar-brand dropdown-toggle' dropdown-toggle>
          <img ng-show='user.userLoggedIn' class='avatar-72 profile-image' ng-src="{{ user.githubAvatarUrl }}&s=72">
          <span class=''>{{user.userName}}</span>
        </a>
        <ul class="dropdown-menu ">
          <a href='/auth/logout'>
            <li>
            Logout
          </li>
          </a>
        </ul>
      </li>
    </ul>
  </div>
</div>