<div class="header navbar navbar-default navbar-static">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <div id="logo-image"></div>
        <span id="logo-text">code friends</span>
      </a>
    </div>
    <ul class='user-box-region nav navbar-nav navbar-right' ng-controller='userBox'>
      <a ng-show='!userLoggedIn' class='userName navbar-brand dropdown-toggle' href='/#/login'>Login</a>
      <li class='dropdown' dropdown>
        <a ng-show='userLoggedIn' class='userName navbar-brand dropdown-toggle' dropdown-toggle>{{userName}}</a>
        <ul class="dropdown-menu ">
          <a href='/auth/logout'>
            <li>
            Logout
          </li>
          </a>
        </ul>
      </li>
    </ul>
  </div>
</div>