<div>
  <h1 class="modal-header">Add a file to this project</h1>
  <div class="modal-body">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle modalDropDownButton" dropdown-toggle ng-disabled="disabled">
        {{folderSelected}}<span ng-if="folderSelected === 'Specify a folder'" class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-click="getFolderPath($event)">/</li>
        <li ng-repeat="folder in folderPaths" ng-click="getFolderPath($event)">{{ folder }}</li>
      </ul>
    </div>
    <form ng-submit="addFile()" class="addFileForm">
      <input type="text" placeholder="Enter file name" ng-model="newFileName" class="modalTextInput">
      <input type="submit" value="Add" class="modalSubmit">
    </form>
  </div>
</div>