<div>
  <h1 class="modal-header">Move File/Folder</h1>
  <div class="modal-body">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle modalDropDownButton" dropdown-toggle ng-disabled="disabled">
        {{folderSelected}}<span ng-if="folderSelected === 'Specify a destination'" class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-click="getDestinationPath($event)">/</li>
        <li ng-repeat="folder in folderPaths" ng-click="getDestinationPath($event)">{{ folder }}</li>
      </ul>
    </div>
    <form ng-submit="moveFile()" class="moveFileForm">
      <button type="submit" class="btn btn-default move-icon-button">
        <div class="text">Move</div>
      </button>
    </form>
  </div>
</div>