<div class="createProjectModal">
  <h1 class="modal-header">Add a new project</h1>
  <div class="modal-body">
    <form ng-submit="closeModal()">
      <input type="text" ng-model="newProjectName" class="modalTextInput" placeholder="Enter project name">
      <tabset>
        <tab heading="Upload Zip">
        <!-- changed type of input to file, uploads controller not currently working for zips? -->
          <div ng-controller="uploadsController">
            <input type="file" ng-model="files" ng-file-select="onFileSelect(files)" ng-multiple="true" class="app-prompt-upload"/>
          </div>
        </tab>
        <tab heading="Use Git">use git here</tab>
      </tabset>
      <button type="submit" class="glyphicon glyphicon-plus"></button>
    </form>
  </div>
</div>