<script type="text/ng-template" id="fileStructureTree">
  <div class='{{ file.type }}'>
    <!-- Folder -->
    <div class='folder-container' ng-if="file.type === 'folder'">
      <span class='glyphicon glyphicon-{{ file.type }} glyphicon-{{ file.type }}-open' aria-hidden='true'></span>
      <span>{{ file.name }}</span>
    </div>
    <!-- File -->
    <div class='file-container' ng-if="file.type === 'file'">
      <a ui-sref='document({ documentPath: file.path })'>
      <span class='glyphicon glyphicon-{{ file.type }} glyphicon-{{ file.type }}-open' aria-hidden='true'></span>
       <span>{{ file.name }}</span> </a>
    </div>
    <!-- Recursive File Listing -->
    <ul ng-if="Object.keys(file.files).length !== 0" class="nested-folder">
      <li  ng-repeat="file in file.files" ng-include="'fileStructureTree'">
      </li>
    </ul>
  </div>
</script>

<div>
  <h4 class='project-file-structure-header' >Files ({{ files.length }})</h4>
  <ul class='project-file-structure-list'>
    <li ng-repeat="file in files" ng-include="'fileStructureTree'"></li>
  </ul>
</div>