<script type="text/ng-template" id="fileStructureTree">
    <li class='{{ file.type }}'>
      <span class="glyphicon glyphicon-{{ file.type }} glyphicon-{{ file.type }}-open" aria-hidden="true"></span> {{ file.name }}
      <ul ng-if="Object.keys(file.files).length !== 0" class="nested-folder">
          <a ui-sref='document({documentName: file.name})' ng-repeat="file in file.files" ng-include="'fileStructureTree'"></a>
      </ul>
    </li>
</script>

<div>
  <h4 class='project-file-structure-header'>Files</h4>
  <ul class='project-file-structure-list'>
    <a ui-sref='document({documentPath: file.path })' class='{{ file.path }}' ng-repeat="file in files" ng-include="'fileStructureTree'">

    </a>
  </ul>
</div>