<div id="toolbar">
  <div class="wrapper">
    <ul>
      <li id="logo-image" ui-sref="home"></li>
      <li>Add
        <ul class="first-dropDown">
          <li ng-click="openAddFileModal()">Add File</li>
          <li ng-click="openAddFolderModal()">Add Folder</li>
        </ul>
      </li>
      <li>Edit</li>
      <li>
        View
        <ul class="first-dropDown">
          <li>
            Set Editor Theme
            <span class="glyphicon glyphicon-chevron-right"></span>
            <ul class="theme-menu second-dropDown">
              <li ng-repeat="theme in themes" ng-click="changeEditorTheme($event)">{{theme}}</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Git</li>
      <li>
        Friends
        <ul class="first-dropDown">
          <li ng-click="openAddUserModal()">Add Collaborator to Project</li>
          <li>     
            <form ng-submit='addUser()'>
              <input type='text' ng-model='newUser' name="text" placeholder="Friend's Github username">
              <input type='submit' id='submit' value='Add'>
            </form>
          </li>
        </ul>
      </li>
      <li id="toolbar-user">
        User
        <ul class="first-dropDown">
          <li ui-sref="home">Home</li>
          <li>
            <a href="/auth/logout">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>